@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #ffb77c;

  --surface: #121315;
  --surface_container: #28282a;

  --text: #fefefe;
  --subtext: #616363;

  --colors-green: #bff567;
  --colors-blue: #74b4ff;
  --colors-yellow: #ecee58;
  --colors-red: #ffa878;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;

  color: var(--text);
  background-color: var(--surface);
  font-family: "Inter", sans-serif;
}

:root {
  display: flex;
  flex-direction: column;
}
