.icon_button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--text);
  background-color: transparent;
  border: none;
  border-radius: 16px;
  transition: background-color 200ms, scale 200ms;

  &:hover {
    background-color: var(--surface_container);
  }

  &:active {
    scale: 0.97;
  }

  &:focus-within {
    outline: 2px solid var(--primary);
  }
}
